<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :screen_id %><br>
    <%= f.number_field :screen_id %>
  </div>
  <div class="field">
    <%= f.label :command_id %><br>
    <%= f.number_field :command_id %>
  </div>
  <div class="field">
    <%= f.label :arguments %><br>
    <%= f.text_area :arguments %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :offset %><br>
    <%= f.number_field :offset %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
