<h1>Daily Schedules</h1>

<table class="table">
  <thead>
    <tr>
      <th>Screen</th>
      <th>Command</th>
      <th>Arguments</th>
      <th>User</th>
      <th>Time</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= link_to schedule.screen.name, schedule.screen %></td>
        <td><%= link_to schedule.command.name, schedule.command %></td>
        <td><%= schedule.arguments %></td>
        <td><%= link_to schedule.user.name, schedule.user %></td>
        <td><%= schedule.offset_str %></td>
        <td>
            <%= link_to 'Edit', edit_schedule_path(schedule), :class => 'btn btn-info btn-mini'%>
            <%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-warning btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scheduled Job', new_schedule_path, :class => 'btn btn-primary' %>
